<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Name</key>
            <string>Ⓐ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER A</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓑ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER B</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓒ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER C</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓓ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER D</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓔ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER E</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓕ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER F</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓖ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER G</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓗ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER H</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓘ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER I</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓙ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER J</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓚ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER K</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓛ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER L</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓜ︎</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER M</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓝ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER N</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓞ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER O</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓟ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER P</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓠ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER Q</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓡ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER R</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓢ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER S</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓣ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER T</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓤ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER U</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓥ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER V</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓦ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER W</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓧ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER X</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓨ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER Y</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ⓩ</string>
            <key>Description</key>
            <string>CIRCLED LATIN CAPITAL LETTER Z</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓐ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER A</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓑ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER B</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓒ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER C</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓓ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER D</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓔ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER E</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓕ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER F</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓖ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER G</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓗ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER H</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓘ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER I</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓙ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER J</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓚ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER K</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓛ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER L</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓜ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER M</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓝ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER N</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓞ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER O</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓟ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER P</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓠ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER Q</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓡ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER R</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓢ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER S</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓣ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER T</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓤ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER U</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓥ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER V</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓦ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER W</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓧ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER X</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓨ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER Y</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>ⓩ</string>
            <key>Description</key>
            <string>CIRCLED LATIN SMALL LETTER Z</string>
        </dict>
        
    </array>
</plist>
