<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>🌱</string>
		<key>Description</key>
		<string>SEEDLING</string>
	</dict>
    <dict>
        <key>Name</key>
        <string>🌲</string>
        <key>Description</key>
        <string>EVERGREEN TREE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌳</string>
        <key>Description</key>
        <string>DECIDUOUS TREE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌴</string>
        <key>Description</key>
        <string>PALM TREE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌵</string>
        <key>Description</key>
        <string>CACTUS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌷</string>
        <key>Description</key>
        <string>TULIP</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌸</string>
        <key>Description</key>
        <string>CHERRY BLOSSOM</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌹</string>
        <key>Description</key>
        <string>ROSE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌺</string>
        <key>Description</key>
        <string>HIBISCUS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌻</string>
        <key>Description</key>
        <string>SUNFLOWER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌼</string>
        <key>Description</key>
        <string>BLOSSOM</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💐</string>
        <key>Description</key>
        <string>BOUQUET</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌾</string>
        <key>Description</key>
        <string>EAR OF RICE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌿</string>
        <key>Description</key>
        <string>HERB</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🍀</string>
        <key>Description</key>
        <string>FOUR LEAF CLOVER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🍁</string>
        <key>Description</key>
        <string>MAPLE LEAF</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🍂</string>
        <key>Description</key>
        <string>FALLEN LEAF</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🍃</string>
        <key>Description</key>
        <string>LEAF FLUTTERING IN WIND</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🍄</string>
        <key>Description</key>
        <string>MUSHROOM</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌰</string>
        <key>Description</key>
        <string>CHESTNUT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐀</string>
        <key>Description</key>
        <string>RAT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐁</string>
        <key>Description</key>
        <string>MOUSE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐭</string>
        <key>Description</key>
        <string>MOUSE FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐹</string>
        <key>Description</key>
        <string>HAMSTER FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐂</string>
        <key>Description</key>
        <string>OX</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐃</string>
        <key>Description</key>
        <string>WATER BUFFALO</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐄</string>
        <key>Description</key>
        <string>COW</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐮</string>
        <key>Description</key>
        <string>COW FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐅</string>
        <key>Description</key>
        <string>TIGER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐆</string>
        <key>Description</key>
        <string>LEOPARD</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐯</string>
        <key>Description</key>
        <string>TIGER FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐇</string>
        <key>Description</key>
        <string>RABBIT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐰</string>
        <key>Description</key>
        <string>RABBIT FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐈</string>
        <key>Description</key>
        <string>CAT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐱</string>
        <key>Description</key>
        <string>CAT FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐎</string>
        <key>Description</key>
        <string>HORSE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐴</string>
        <key>Description</key>
        <string>HORSE FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐏</string>
        <key>Description</key>
        <string>RAM</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐑</string>
        <key>Description</key>
        <string>SHEEP</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐐</string>
        <key>Description</key>
        <string>GOAT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐓</string>
        <key>Description</key>
        <string>ROOSTER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐔</string>
        <key>Description</key>
        <string>CHICKEN</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐤</string>
        <key>Description</key>
        <string>BABY CHICK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐣</string>
        <key>Description</key>
        <string>HATCHING CHICK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐥</string>
        <key>Description</key>
        <string>FRONT-FACING BABY CHICK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐦</string>
        <key>Description</key>
        <string>BIRD</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐧</string>
        <key>Description</key>
        <string>PENGUIN</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐘</string>
        <key>Description</key>
        <string>ELEPHANT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐪</string>
        <key>Description</key>
        <string>DROMEDARY CAMEL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐫</string>
        <key>Description</key>
        <string>BACTRIAN CAMEL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐗</string>
        <key>Description</key>
        <string>BOAR</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐖</string>
        <key>Description</key>
        <string>PIG</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐷</string>
        <key>Description</key>
        <string>PIG FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐽</string>
        <key>Description</key>
        <string>PIG NOSE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐕</string>
        <key>Description</key>
        <string>DOG</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐩</string>
        <key>Description</key>
        <string>POODLE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐶</string>
        <key>Description</key>
        <string>DOG FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐺</string>
        <key>Description</key>
        <string>WOLF FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐻</string>
        <key>Description</key>
        <string>BEAR FACE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐨</string>
        <key>Description</key>
        <string>KOALA</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🐼</string>
        <key>Description</key>
        <string>PANDA FACE</string>
    </dict>
</array>
</plist>
