<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>⌚️</string>
		<key>Description</key>
		<string>WATCH</string>
	</dict>
    <dict>
        <key>Name</key>
        <string>📱</string>
        <key>Description</key>
        <string>MOBILE PHONE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📲</string>
        <key>Description</key>
        <string>MOBILE PHONE WITH RIGHTWARDS ARROW AT LEFT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💻</string>
        <key>Description</key>
        <string>PERSONAL COMPUTER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>⏰</string>
        <key>Description</key>
        <string>ALARM CLOCK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>⏳</string>
        <key>Description</key>
        <string>HOURGLASS WITH FLOWING SAND</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>⌛️</string>
        <key>Description</key>
        <string>HOURGLASS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📷</string>
        <key>Description</key>
        <string>CAMERA</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📹</string>
        <key>Description</key>
        <string>VIDEO CAMERA</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🎥</string>
        <key>Description</key>
        <string>MOVIE CAMERA</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📺</string>
        <key>Description</key>
        <string>TELEVISION</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📻</string>
        <key>Description</key>
        <string>RADIO</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📟</string>
        <key>Description</key>
        <string>PAGER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📞</string>
        <key>Description</key>
        <string>TELEPHONE RECEIVER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>☎️</string>
        <key>Description</key>
        <string>BLACK TELEPHONE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📠</string>
        <key>Description</key>
        <string>FAX MACHINE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💽</string>
        <key>Description</key>
        <string>MINIDISC</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💾</string>
        <key>Description</key>
        <string>FLOPPY DISK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💿</string>
        <key>Description</key>
        <string>OPTICAL DISC</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📀</string>
        <key>Description</key>
        <string>DVD</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📼</string>
        <key>Description</key>
        <string>VIDEOCASSETTE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔋</string>
        <key>Description</key>
        <string>BATTERY</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔌</string>
        <key>Description</key>
        <string>ELECTRIC PLUG</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💡</string>
        <key>Description</key>
        <string>ELECTRIC LIGHT BULB</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔦</string>
        <key>Description</key>
        <string>ELECTRIC TORCH</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📡</string>
        <key>Description</key>
        <string>SATELLITE ANTENNA</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💳</string>
        <key>Description</key>
        <string>CREDIT CARD</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💸</string>
        <key>Description</key>
        <string>MONEY WITH WINGS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💰</string>
        <key>Description</key>
        <string>MONEY BAG</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💎</string>
        <key>Description</key>
        <string>GEM STONE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🌂</string>
        <key>Description</key>
        <string>CLOSED UMBRELLA</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👝</string>
        <key>Description</key>
        <string>POUCH</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👛</string>
        <key>Description</key>
        <string>PURSE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👜</string>
        <key>Description</key>
        <string>HANDBAG</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💼</string>
        <key>Description</key>
        <string>BRIEFCASE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🎒</string>
        <key>Description</key>
        <string>SCHOOL SATCHEL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💄</string>
        <key>Description</key>
        <string>LIPSTICK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👓</string>
        <key>Description</key>
        <string>EYEGLASSES</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👒</string>
        <key>Description</key>
        <string>WOMANS HAT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👡</string>
        <key>Description</key>
        <string>WOMANS SANDAL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👠</string>
        <key>Description</key>
        <string>HIGH-HEELED SHOE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👢</string>
        <key>Description</key>
        <string>WOMANS BOOTS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👞</string>
        <key>Description</key>
        <string>MANS SHOE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👟</string>
        <key>Description</key>
        <string>ATHLETIC SHOE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👙</string>
        <key>Description</key>
        <string>BIKINI</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👗</string>
        <key>Description</key>
        <string>DRESS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👘</string>
        <key>Description</key>
        <string>KIMONO</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👚</string>
        <key>Description</key>
        <string>WOMANS CLOTHES</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👕</string>
        <key>Description</key>
        <string>T-SHIRT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👔</string>
        <key>Description</key>
        <string>NECKTIE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>👖</string>
        <key>Description</key>
        <string>JEANS</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🚪</string>
        <key>Description</key>
        <string>DOOR</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🚿</string>
        <key>Description</key>
        <string>SHOWER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🛁</string>
        <key>Description</key>
        <string>BATHTUB</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🚽</string>
        <key>Description</key>
        <string>TOILET</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💈</string>
        <key>Description</key>
        <string>BARBER POLE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💉</string>
        <key>Description</key>
        <string>SYRINGE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💊</string>
        <key>Description</key>
        <string>PILL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔬</string>
        <key>Description</key>
        <string>MICROSCOPE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔭</string>
        <key>Description</key>
        <string>TELESCOPE</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔮</string>
        <key>Description</key>
        <string>CRYSTAL BALL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔧</string>
        <key>Description</key>
        <string>WRENCH</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔪</string>
        <key>Description</key>
        <string>HOCHO</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔩</string>
        <key>Description</key>
        <string>NUT AND BOLT</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔨</string>
        <key>Description</key>
        <string>HAMMER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>💣</string>
        <key>Description</key>
        <string>BOMB</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🚬</string>
        <key>Description</key>
        <string>SMOKING SYMBOL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔫</string>
        <key>Description</key>
        <string>PISTOL</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔖</string>
        <key>Description</key>
        <string>BOOKMARK</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>📰</string>
        <key>Description</key>
        <string>NEWSPAPER</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>🔑</string>
        <key>Description</key>
        <string>KEY</string>
    </dict>
        </array>
</plist>
