<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>-Normal Font-</string>
		<key>styleid</key>
		<string>0</string>
		<key>stylename</key>
		<string>Normal</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.circle</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>Ⓒⓘⓡⓒⓛⓔ</string>
		<key>styleid</key>
		<string>1</string>
		<key>stylename</key>
		<string>Circle</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.ancient</string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>Δƞϲιεƞτ</string>
		<key>styleid</key>
		<string>2</string>
		<key>stylename</key>
		<string>Ancient</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>Ξƞιϑʍατιϲ</string>
		<key>styleid</key>
		<string>3</string>
		<key>stylename</key>
		<string>Enigmatic</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.square</string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>🇸 🇶 🇺 🇦 🇷 🇪</string>
		<key>styleid</key>
		<string>4</string>
		<key>stylename</key>
		<string>Square</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.emoji</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>📧Ⓜ⭕🎷📍</string>
		<key>styleid</key>
		<string>5</string>
		<key>stylename</key>
		<string>Emoji</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.highlights</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ĤÌġĥɭÌġĥťś</string>
		<key>styleid</key>
		<string>6</string>
		<key>stylename</key>
		<string>Highlights</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>çųŗᏉƴ ţąįɭ</string>
		<key>styleid</key>
		<string>7</string>
		<key>stylename</key>
		<string>Curvy Tail</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.mythology</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ᎷᎽᎿᎻᎾᏝᎾᎶᎽ</string>
		<key>styleid</key>
		<string>8</string>
		<key>stylename</key>
		<string>Mythology</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>S̸̸̸̸̸̸l̸̸̸̸̸a̸̸̸̸s̸̸̸h̸̸y̸</string>
		<key>styleid</key>
		<string>9</string>
		<key>stylename</key>
		<string>Slashy</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.rails</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>R̲̅a̲̅i̲̅l̲̅s̲̅</string>
		<key>styleid</key>
		<string>10</string>
		<key>stylename</key>
		<string>Rails</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.comicfun</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ᑕOᗰƖᑕ Fᑌᑎ</string>
		<key>styleid</key>
		<string>11</string>
		<key>stylename</key>
		<string>Comic fun</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>d̤̈ö̤ẗ̤ï̤f̤̈ÿ̤</string>
		<key>styleid</key>
		<string>12</string>
		<key>stylename</key>
		<string>Dotify </string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>Ｗｉｄｅ Ｓｐａｃｅ</string>
		<key>styleid</key>
		<string>13</string>
		<key>stylename</key>
		<string>Wide Space</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.ruscript</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>Яц$cяїpт</string>
		<key>styleid</key>
		<string>14</string>
		<key>stylename</key>
		<string>Ruscript</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.asumnez</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>∀﹩ʊღηεℨ</string>
		<key>styleid</key>
		<string>15</string>
		<key>stylename</key>
		<string>Asumnez</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.strikethrough</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>S̶t̶r̶i̶k̶e̶t̶h̶r̶o̶u̶g̶h̶</string>
		<key>styleid</key>
		<string>16</string>
		<key>stylename</key>
		<string>Strikethrough</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.brahmy</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ᗷᖇᗩᖺᙢᎩ</string>
		<key>styleid</key>
		<string>17</string>
		<key>stylename</key>
		<string>Brahmy</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.modernophics</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>♔⊙◗€☈♫⊙ρ♄♗☾ⓢ</string>
		<key>styleid</key>
		<string>18</string>
		<key>stylename</key>
		<string>Modernophics</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.retrotype</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>гєtг๏tץקє</string>
		<key>styleid</key>
		<string>19</string>
		<key>stylename</key>
		<string>Retrotype</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.tinywings</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>тιnywιngѕ</string>
		<key>styleid</key>
		<string>20</string>
		<key>stylename</key>
		<string>Tinywings</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.goldy</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ᎶᎾℒⅅᎽ</string>
		<key>styleid</key>
		<string>21</string>
		<key>stylename</key>
		<string>Goldy</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>h2504</string>
		<key>styleid</key>
		<string>22</string>
		<key>stylename</key>
		<string>H2SO4</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.notchify</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ησт¢нιƒу</string>
		<key>styleid</key>
		<string>23</string>
		<key>stylename</key>
		<string>Notchify</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>ĤΛMṖSĤĪŔƐ</string>
		<key>styleid</key>
		<string>24</string>
		<key>stylename</key>
		<string>Hampshire</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.coolness</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ςόόĻήέşş</string>
		<key>styleid</key>
		<string>25</string>
		<key>stylename</key>
		<string>Coolness</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.SoulUrge</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>SФUŁUЯGΞ</string>
		<key>styleid</key>
		<string>26</string>
		<key>stylename</key>
		<string>SoulUrge</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>[̲̅b̲̅][̲̅o̲̅][̲̅x̲̅][̲̅i̲̅][̲̅f̲̅][̲̅y̲̅]</string>
		<key>styleid</key>
		<string>27</string>
		<key>stylename</key>
		<string>Boxify</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>r̰̃ṵ̃f̰̃f̰̃ r̰̃õ̰ã̰d̰̃</string>
		<key>styleid</key>
		<string>28</string>
		<key>stylename</key>
		<string>Ruff Road</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>⒝⒭⒜⒞⒦⒠⒯⒮</string>
		<key>styleid</key>
		<string>29</string>
		<key>stylename</key>
		<string>Bracket</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.emoji2</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>📚♏🅾🎷ℹ 2⃣</string>
		<key>styleid</key>
		<string>30</string>
		<key>stylename</key>
		<string>Emoji 2</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.emoji3</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>📧〽⭕🎷🚹 3⃣</string>
		<key>styleid</key>
		<string>31</string>
		<key>stylename</key>
		<string>Emoji 3</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.sunshine</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>S҉U҉N҉S҉H҉I҉N҉E҉</string>
		<key>styleid</key>
		<string>32</string>
		<key>stylename</key>
		<string>Sunshine</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.empire</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>E͎m͎p͎i͎r͎e͎</string>
		<key>styleid</key>
		<string>33</string>
		<key>stylename</key>
		<string>Empire</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.demons</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>Dͦeͦmͦoͦnͦsͦ</string>
		<key>styleid</key>
		<string>34</string>
		<key>stylename</key>
		<string>Demons</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.squarify</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>S⃟Q⃟U⃟A⃟R⃟I⃟F⃟Y⃟</string>
		<key>styleid</key>
		<string>35</string>
		<key>stylename</key>
		<string>Squarify</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.undercover</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>U͡N͡D͡E͡R͡C͡O͡V͡E͡R͡</string>
		<key>styleid</key>
		<string>36</string>
		<key>stylename</key>
		<string>Undercover</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.goright</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>G⃗O⃗R⃗I⃗G⃗H⃗T⃗</string>
		<key>styleid</key>
		<string>37</string>
		<key>stylename</key>
		<string>Goright</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.goleft</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>G⃖O⃖L⃖E⃖F⃖T⃖</string>
		<key>styleid</key>
		<string>38</string>
		<key>stylename</key>
		<string>Goleft</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.popstar</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>P͙o͙p͙s͙t͙a͙r͙</string>
		<key>styleid</key>
		<string>39</string>
		<key>stylename</key>
		<string>Popstar</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.hills</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>H⃕I⃕L⃕L⃕S⃕</string>
		<key>styleid</key>
		<string>40</string>
		<key>stylename</key>
		<string>Hills</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.shiny</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>S͛H͛I͛N͛Y͛</string>
		<key>styleid</key>
		<string>41</string>
		<key>stylename</key>
		<string>Shiny</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.seashore</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>S͌E͌A͌S͌H͌O͌R͌E͌</string>
		<key>styleid</key>
		<string>42</string>
		<key>stylename</key>
		<string>Seashore</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.tinymate</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ᵀᴵᴺᵞᴹᴬᵀᴱ</string>
		<key>styleid</key>
		<string>43</string>
		<key>stylename</key>
		<string>Tinymate</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>p̾o̾n̾y̾t̾a̾i̾l̾</string>
		<key>styleid</key>
		<string>44</string>
		<key>stylename</key>
		<string>Ponytail</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.medness</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>M҈E҈S҈N҈E҈S҈S҈</string>
		<key>styleid</key>
		<string>45</string>
		<key>stylename</key>
		<string>Medness</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>W̥h̥e̥e̥l̥</string>
		<key>styleid</key>
		<string>46</string>
		<key>stylename</key>
		<string>Wheels</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.poster</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>P̽o̽s̽t̽e̽r̽</string>
		<key>styleid</key>
		<string>47</string>
		<key>stylename</key>
		<string>Poster</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.jinglebells</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>J꙰i꙰n꙰g꙰l꙰e꙰ b꙰e꙰l꙰l꙰s꙰꙰</string>
		<key>styleid</key>
		<string>48</string>
		<key>stylename</key>
		<string>Jinglebells</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.upperline</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>U꙯P꙯P꙯E꙯R꙯L꙯I꙯N꙯E꙯꙯</string>
		<key>styleid</key>
		<string>49</string>
		<key>stylename</key>
		<string>Upperline</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.underline</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>U͟N͟D͟E͟R͟L͟I͟N͟E͟</string>
		<key>styleid</key>
		<string>50</string>
		<key>stylename</key>
		<string>Underline</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.highlights2</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>H̳I̳G̳H̳L̳I̳G̳H̳T̳S̳2</string>
		<key>styleid</key>
		<string>51</string>
		<key>stylename</key>
		<string>Highlights2</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>GRΣΣҜβΣTS</string>
		<key>styleid</key>
		<string>52</string>
		<key>stylename</key>
		<string>Greekbets</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.fumbled</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>F⃣U⃣M⃣B⃣L⃣E⃣D⃣</string>
		<key>styleid</key>
		<string>53</string>
		<key>stylename</key>
		<string>Fumbled</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.horrormovie</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ɦօʀʀօʀ ʍօʋɨɛ</string>
		<key>styleid</key>
		<string>54</string>
		<key>stylename</key>
		<string>Horror Movie</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>ⒺⓎⒺ ⒷⒶⓁⓁⓈ</string>
		<key>styleid</key>
		<string>55</string>
		<key>stylename</key>
		<string>Eye balls</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.cloudy</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>C͜͡L͜͡O͜͡U͜͡D͜͡Y͜͡</string>
		<key>styleid</key>
		<string>56</string>
		<key>stylename</key>
		<string>Cloudy</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>㎡∆иⅰ∆ς</string>
		<key>styleid</key>
		<string>57</string>
		<key>stylename</key>
		<string>Maniac</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.methodology</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>mєthσdσlσgч</string>
		<key>styleid</key>
		<string>58</string>
		<key>stylename</key>
		<string>Methodology</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.fantasy</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ғѧṅṭѧṡʏ</string>
		<key>styleid</key>
		<string>59</string>
		<key>stylename</key>
		<string>Fantasy</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.epicurious</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ꍟᖘꀤꉓꀎꋪꀤꂦꀎꌗ</string>
		<key>styleid</key>
		<string>60</string>
		<key>stylename</key>
		<string>Epicurious</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.magical</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>mᎪᎶᎥᏟᎪᏞ</string>
		<key>styleid</key>
		<string>61</string>
		<key>stylename</key>
		<string>magical</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.fairytales</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ƒɑíɾվԵɑӀҽՏ</string>
		<key>styleid</key>
		<string>62</string>
		<key>stylename</key>
		<string>Fairytales</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.alarabia</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ąƖ ąཞąცıą</string>
		<key>styleid</key>
		<string>63</string>
		<key>stylename</key>
		<string>Al Arabia</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>λVE₦GEƦ</string>
		<key>styleid</key>
		<string>64</string>
		<key>stylename</key>
		<string>Avenger</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.witchology</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>աɨƈɦօʟօɢʏ</string>
		<key>styleid</key>
		<string>65</string>
		<key>stylename</key>
		<string>Witchology</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.curls</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>C͠U͠R͠L͠S͠</string>
		<key>styleid</key>
		<string>73</string>
		<key>stylename</key>
		<string>Curls</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>S̟P̟A̟R̟K̟L̟E̟</string>
		<key>styleid</key>
		<string>74</string>
		<key>stylename</key>
		<string>Sparkle</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>U͎P͎S͎I͎D͎E͎</string>
		<key>styleid</key>
		<string>75</string>
		<key>stylename</key>
		<string>Upside</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.blackhole</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>B⃘l⃘a⃘c⃘k⃘h⃘o⃘l⃘e⃘</string>
		<key>styleid</key>
		<string>76</string>
		<key>stylename</key>
		<string>Blackhole</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.hungarian</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ႬႮႶႺႩRiႩႶ</string>
		<key>styleid</key>
		<string>77</string>
		<key>stylename</key>
		<string>Hungarian</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.waycool</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ẘѦ¥¢◎◎ℓ</string>
		<key>styleid</key>
		<string>78</string>
		<key>stylename</key>
		<string>Waycool</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.carreaux</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>C⃟A⃟R⃟R⃟E⃟A⃟U⃟X⃟</string>
		<key>styleid</key>
		<string>79</string>
		<key>stylename</key>
		<string>Carreaux</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>ϯɾίɓαʆ</string>
		<key>styleid</key>
		<string>80</string>
		<key>stylename</key>
		<string>Tribal</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.blackbox</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>🅱🅻🅰🅲🅺🅱🅾🆇</string>
		<key>styleid</key>
		<string>81</string>
		<key>stylename</key>
		<string>Black Box</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.samurai</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ຮศฅມཞศར</string>
		<key>styleid</key>
		<string>82</string>
		<key>stylename</key>
		<string>Samurai</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.railtrack</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>R̸͟͞a̸͟͞i̸͟͞l̸͟͞. T̸͟͞r̸͟͞a̸͟͞c̸͟͞k̸͟͞</string>
		<key>styleid</key>
		<string>83</string>
		<key>stylename</key>
		<string>Rail track</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.stamp</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>🅂🅃🄰🄼🄿</string>
		<key>styleid</key>
		<string>84</string>
		<key>stylename</key>
		<string>Stamp</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.peewee</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ƿєє ẇєє</string>
		<key>styleid</key>
		<string>85</string>
		<key>stylename</key>
		<string>Pee Wee</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.imninja</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ﾉ'ʍ 刀ﾉ刀ﾌﾑ</string>
		<key>styleid</key>
		<string>86</string>
		<key>stylename</key>
		<string>I’m Ninja</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.fruitsalad</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>∱☈☋ί☨ $@ᒪ@∂</string>
		<key>styleid</key>
		<string>87</string>
		<key>stylename</key>
		<string>Fruit Salad</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.blueeyes</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>🅑🅛🅤🅔 🅔🅨🅔🅢</string>
		<key>styleid</key>
		<string>88</string>
		<key>stylename</key>
		<string>Blue Eyes</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.hustler</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ᖺᕰᔕƮᒪᙓᖇ</string>
		<key>styleid</key>
		<string>89</string>
		<key>stylename</key>
		<string>Hustler</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.montey</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>mᏫᏁᎿᏋᎩ</string>
		<key>styleid</key>
		<string>90</string>
		<key>stylename</key>
		<string>Montey</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.swordliner</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>S⃒w⃒o⃒r⃒d⃒ l⃒i⃒n⃒e⃒r⃒</string>
		<key>styleid</key>
		<string>91</string>
		<key>stylename</key>
		<string>sword liner</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.trishula</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>тԻ!ṧℏṳℓǭ</string>
		<key>styleid</key>
		<string>92</string>
		<key>stylename</key>
		<string>Trishula</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>ḟʟḯ℘℘εя</string>
		<key>styleid</key>
		<string>93</string>
		<key>stylename</key>
		<string>Flipper</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>I͚N͚F͚I͚N͚I͚T͚Y͚</string>
		<key>styleid</key>
		<string>95</string>
		<key>stylename</key>
		<string>Infinity</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.georgiology</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ɡεσɾɡίσʆσɡψ</string>
		<key>styleid</key>
		<string>97</string>
		<key>stylename</key>
		<string>Georgiology</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.kungfu</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>Kມསg fມ</string>
		<key>styleid</key>
		<string>98</string>
		<key>stylename</key>
		<string>Kung Fu</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.happyface</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>H̤̮A̤̮P̤̮P̤̮Y̤̮ F̤̮A̤̮C̤̮E̤̮</string>
		<key>styleid</key>
		<string>99</string>
		<key>stylename</key>
		<string>Happy Face</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.romanum</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>RᎧMᏘᏁUM</string>
		<key>styleid</key>
		<string>101</string>
		<key>stylename</key>
		<string>Romanum</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.sanskriti</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ṡåṅṡҡŗıṭı</string>
		<key>styleid</key>
		<string>102</string>
		<key>stylename</key>
		<string>Sanskriti</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.doubleline</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>D͟͟O͟͟U͟͟B͟͟L͟͟E͟͟ L͟͟I͟͟N͟͟E͟͟</string>
		<key>styleid</key>
		<string>103</string>
		<key>stylename</key>
		<string>Double Line</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.bubbles</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>B̥ͦU̥ͦB̥ͦB̥ͦL̥ͦE̥ͦS̥ͦ</string>
		<key>styleid</key>
		<string>104</string>
		<key>stylename</key>
		<string>Bubbles</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.anger</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>A̬̤̯N̬̤̯G̬̤̯E̬̤̯R̬̤̯</string>
		<key>styleid</key>
		<string>105</string>
		<key>stylename</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.mogli</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ṀƟᎶĹĬ</string>
		<key>styleid</key>
		<string>106</string>
		<key>stylename</key>
		<string>Mogli</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.aragon</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>คгคg๏ภ</string>
		<key>styleid</key>
		<string>107</string>
		<key>stylename</key>
		<string>Aragon</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>ᴛɪɴʏ ᴄᴀᴘs</string>
		<key>styleid</key>
		<string>108</string>
		<key>stylename</key>
		<string>Tiny Caps</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.sambaways</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ʂɑɱɓɑ ϣɑџʑ</string>
		<key>styleid</key>
		<string>109</string>
		<key>stylename</key>
		<string>Samba Ways</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>ꀭɑƙɑʂ</string>
		<key>styleid</key>
		<string>110</string>
		<key>stylename</key>
		<string>Jakas</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.massive</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ʍǟֆֆɨʋɛ</string>
		<key>styleid</key>
		<string>111</string>
		<key>stylename</key>
		<string>Massive</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.upsidedown</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>uʍop ǝpıs d∩</string>
		<key>styleid</key>
		<string>112</string>
		<key>stylename</key>
		<string>Upside Down</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.roundstamp</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>R⃠O⃠U⃠N⃠D⃠ S⃠T⃠A⃠M⃠P⃠ </string>
		<key>styleid</key>
		<string>113</string>
		<key>stylename</key>
		<string>Round Stamp</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>H̠I̠G̠H̠L̠I̠G̠H̠T̠ M̠E̠</string>
		<key>styleid</key>
		<string>114</string>
		<key>stylename</key>
		<string>Highlight Me</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>Q̉ỦẺS̉T̉ỈỎN̉</string>
		<key>styleid</key>
		<string>115</string>
		<key>stylename</key>
		<string>Question</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.bridge</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>B̺͆R̺͆I̺͆D̺͆G̺͆E̺͆</string>
		<key>styleid</key>
		<string>116</string>
		<key>stylename</key>
		<string>Bridge</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>H͒ O͒ T͒ S͒ P͒ O͒ T͒</string>
		<key>styleid</key>
		<string>117</string>
		<key>stylename</key>
		<string>HOTSPOT</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>F༙R༙O༙Z༙E༙N༙</string>
		<key>styleid</key>
		<string>118</string>
		<key>stylename</key>
		<string>Frozen</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string></string>
		<key>locktype</key>
		<string>N</string>
		<key>sample</key>
		<string>BྂUྂDྂDྂHྂAྂ</string>
		<key>styleid</key>
		<string>119</string>
		<key>stylename</key>
		<string>Buddha</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.urban</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>☋☈♭@n</string>
		<key>styleid</key>
		<string>120</string>
		<key>stylename</key>
		<string>Urban</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.persian</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>քɛʀֆɨǟռ</string>
		<key>styleid</key>
		<string>121</string>
		<key>stylename</key>
		<string>Persian</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.empireage</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ϵϻϼῖrϵ αϭͼ</string>
		<key>styleid</key>
		<string>122</string>
		<key>stylename</key>
		<string>Empire Age</string>
	</dict>
	<dict>
		<key>inappid</key>
		<string>com.daudmodan.fontapp.swagology</string>
		<key>locktype</key>
		<string>Y</string>
		<key>sample</key>
		<string>ЅᏇᎯᎶᎾℒᎾᎶᎽ</string>
		<key>styleid</key>
		<string>123</string>
		<key>stylename</key>
		<string>Swagology</string>
	</dict>
</array>
</plist>
